

body {

    margin: 0 auto;
    width: 960px;
    font-size: 20px;
    font-family: Times, serif;
    background-color: #371ab6;
    color: #6489f0;
}

header [role="banner"] {
    
    position: relative;
    top: 20px;
    background-color: #6489f0;
    height: 135px;
    border-style: solid;
    border-width: 10px;
    border-color: #ffffff;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #04cdff;
    text-shadow: 0 1 1 rgba(0,0,0,.5);
    margin: 0 0 0 0;
}

nav {
    height: 50px;
    width: 800px;
    margin: 0 0 0 60px;
}

nav ul {
    
    text-align: center;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    list-style: none;
}

nav ul li {

    display: inline-block;
    height: 20px;
    width: 45px;
    margin: 0 65px 0 10px;
    white-space: nowrap;

}

nav ul li a {

    display:inline-block;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    background: #6489f0;
    color: #ffffff;
    text-shadow: 0 1 1 rgba(0,0,0,.5);
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

/* End of Navigation Area */

article {
    position: relative;
    top: 35px;
    background-color: #6489f0;
    border-style: double;
    border-width: 10px;
    border-color: white;
    text-shadow: 0 1 1 rgba(0,0,0,.5);
    height: 550px;
    width: 600px;
}

article h2 {
    color: #04cdff;
    font-size: 24px;
    line-height: 14px;
    margin: 20 0 0 0;
    padding: 10 20;
    font-style: bold;
}

article p {

    color: rgba(0,0,0,.5);
    font-size: 20px;
    line-height: 24px;
    padding: 2 20;
}

section {

    background-color: #6489f0;
    border-style: double;
    border-width: 4px;
    border-color: white;
    padding: 0;
    margin: 10 10;
}

section h3 {
    color: #04cdff;
    font-size: 22px;
    line-height: 14px;
    margin: 10 0 0 0;
    padding: 20 5 0 20;
    font-style: bold;
    text-shadow: 0 1 1 rgba (0,0,0,.5);
}

section p {

    color: #ffffff;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
}

aside {
    position: relative;
    top: -535px;
    left: 640px;
    background-color: #6489f0;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    height: 555px;
    width: 302px;
    text-shadow: 0 1 1 rgba (0,0,0,.5);
}

aside h3 {
    color: #04cdff;
    font-size: 24px;
    line-height: 14px;
    margin: 20 0 0 0;
    padding: 10 20;
    font-style: bold;
}

article p {

    color: rgba(0,0,0,.5);
    font-size: 20px;
    line-height: 22px;
    padding: 10 20 0 20;
}