body.fnaf1 {background-image: url("https://i.gifer.com/EfE7.gif");
    color: White;
    font-family: Arial, Helvetica, sans-serif;
}

body.fnaf2 {background-image: url("https://i.gifer.com/spV.gif");
    color: White;
}

p {font: size 30;}

header {font-family:'Times New Roman', Times, serif;
    font-size: 75;
    height: 100;
    padding: 30 10 30 15;
    border: dotted red 10;
    background: black;}

header.fnaf2 {font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75;
    height: 100;
    padding: 30 10 30 15;
    border: dotted red 10;
    background: rgb(100, 74, 100);
}

h1 {font-family:'Times New Roman', Times, serif;
    font-size: 70;
    height: 100;
    padding: 30 10 30 15;
    border: dotted red 10;
    background: black;
}

h1.fnaf2 {font-family:'Times New Roman', Times, serif;
    font-size: 70;
    height: 100;
    padding: 30 10 30 15;
    border: dotted red 10;
}

h2 {font-family:'Times New Roman', Times, serif;
    font-size: 70;
    height: 100;
    padding: 30 10 30 15;
    border: dotted red 10;
}

.genre {font-family: Arial, Helvetica, sans-serif;
        font-size: 20;
        width: 110;
        height: 50;
        display: inline-block;
}

.button {width: 250;
         height: 200;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 20;
         position: fixed;
         padding: 15
         top: 50;
         bottom: 50;
         transform: translate(-50,50)
         color: white;
         background-color: purple;
         border-radius: 60;
}

.mbutton {width: 200;
    height: 150;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    padding: 15
    top: 50;
    bottom: 50;
    transform: translate(-50,50)
    color: white;
    background-color: grey;
    border-radius: 60;
}

.free {float: left;
    overflow: auto;
}
#bonnie {float: left;
}
#foxy {float: left;
}
#freddy {float: left;
}
#chica {float: left;
}
#goldie {float: right;
}
#Lore {float: right;
}


.catalog {background-color: rgb(138, 11, 11);
    color:rgb(61, 0, 46);
    font-size: 24;
    width: 200;
    height: 150;
    font-family: sans-serif;
    border-color:#00C2BA
    border-radius: 22;
    letter-spacing: 7
    transform: translate(-50,50);
}

.catalog:hover{
    cursor: pointer;
    box-shadow: 0 2 50 0 #00C2BA, 0 2 100 0 #00C2BA;
} 








